
.checkout-form {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  .checkout-form h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  .checkout-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .checkout-form input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }

  .checkout-form button {
    width: 100%;
    padding: 0.75rem;
    background-color: #17a589;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
  }

  .checkout-form button:hover {
    background-color: #117a65;
  }
  .order_form{
    margin-left: 13rem;
  }

  .btn-order{
    background-color: #9de3c2; 
    color: #222;
  }
/* Mobile screen style */
@media screen and (max-width: 991px) {
    .order_form{
        margin-left: 0;
      }
    
  }
